main{
    margin: 30px 0px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 article.scroll-animation{
     position: relative;
    box-sizing: border-box;
    background: var(--main-color);
    margin: 50px 0px;
    padding: 10px;
    display: inline-block;
    border-radius: 30px;
    margin: 20px;
    transition: 0.5s top ease-out 0s, 0.2s transform ease-in-out 0s,0.2s box-shadow ease-in-out 0s;
}
article.scroll-animation:hover{
    transform: scale(1.01);
    background: var(--main-color);
    opacity: 0.9!important;
    box-shadow: 0 0 50px #000;
}
article h2{
    color: var(--text-color);
    font-family: 'Poiret One', cursive;
    font-size: 60px;
}
article img{
    display: block;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    width: 80%;
    height: auto;
    margin-left: 10%;
}
article p{
    color: var(--text-color);
    font-family: 'Jura', sans-serif;
    font-size: 27px;
    text-align: left;
    width: 80%;
    margin-left: 10%;
}


@media (orientation:portrait) , (max-width:750px) {
    main{
        margin: 5xp 0px;
        display: block;
    }
    article.scroll-animation{
        margin: 3px 0px;
        display: block;
        border-radius: 0px;
    }
    article h2{
        font-size: 45px;
    }
    article p{
        font-size: 4vw;
    }
}